#list-area {
  .alert.alert-info.clickable {
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-offset);
    z-index: 8;
    @if $align_text_center == "true" {
      span {
        margin: auto;
      }
    }
    @if $fixed_bottom_position == "true" {
      position: fixed;
      width: calc(100% - 2em);
      @if $fkbpro_theme_enabled == "true" {
        width: 100%;
      }
      left: 0;
      top: auto;
      bottom: 0;
      // iPhone Footer Nav
      body.footer-nav-visible & {
        bottom: var(--footer-nav-height);
      }
      @if $tab_bar_enabled == "true" {
        bottom: 49px;
        body.tab-bar-hidden & {
          bottom: 0;
          transition: all 0.2s ease-in;
        }
        html.anon & {
          bottom: 0;
        }
      }
      margin-bottom: 0;
      z-index: z("dropdown") - 1;
      transition: all 0.1s ease-out;
      // iPad Footer
      body.footer-nav-ipad {
        #list-area {
          .alert.alert-info.clickable {
            margin-bottom: 20px;
          }
        }
        &.tab-bar-hidden {
          #list-area {
            .alert.alert-info.clickable {
              padding-bottom: env(safe-area-inset-bottom);
              margin-bottom: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.list-controls {
  scroll-margin-top: calc(var(--header-offset) * 2);
}
