#list-area {
  .show-more.has-topics {
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-offset);
    @if $fkbpro_theme_enabled == "true" {
      position: sticky !important;
      position: -webkit-sticky !important;
      top: var(--header-offset) !important;
    }
    z-index: 8;
    @if $align_text_center == "true" {
      .alert.alert-info.clickable {
        padding: 16px 35px;
        span {
          margin: auto;
        }
      }
    }
  }
}    

.list-controls {
  scroll-margin-top: calc(var(--header-offset) * 2);
}
